<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="rabbitmq-default" value="host=192.168.8.72:5672;virtualHost=/;username=tango;password=shike@19980712"/>
    <!--邮件配置-->
    <add key="senduser" value="" />
    <add key="sendpwd" value="" />
  </appSettings>
</configuration>